<html>
<head>
<link rel="stylesheet" href="css/toolkit.css">
<script src="https://sf-dahlia-pattern-library.herokuapp.com//assets/toolkit/scripts/toolkit.js"></script>
</head>
<body><button class="button-link skip-link sr-only ng-binding" ng-click="focusOnMainContent()">Skip to main content</button><div class="site-container">

<!-- uiView: translate --><section ui-view="translate" class="ng-scope"><div class="translate-bar bar bg-tuatara ng-scope"><div class="row"><div class="medium-12 columns"><ul class="inline-list no-margin t-small right"><li class="c-iron show-for-medium-up">Select Language</li><li><a class="c-white" ui-sref="dahlia.welcome-spanish" href="/welcome-spanish">Español</a></li><li><a class="c-white t-ch" ui-sref="dahlia.welcome-chinese" href="/welcome-chinese">中文<span class="sr-only">Chinese</span></a></li><li><a class="c-white" ui-sref="dahlia.welcome-filipino" href="/welcome-filipino">Filipino</a></li></ul></div></div></div></section>

<!-- uiView: version --><section ui-view="version" class="ng-scope"><div class="version-bar bar bg-steel ng-scope"><div class="row"><div class="medium-12 columns"><p class="text-right t-small c-white no-margin">This site is in <strong class="t-caps">beta</strong>. We're offering even more! We'd love to get <a target="_blank" class="a-white lined" href="https://docs.google.com/forms/d/e/1FAIpQLSfJQL6ewvzETV7ZkWot94CaVlI7XlGPbhny4w6mPmDqZS995Q/viewform">your feedback</a>.</p></div></div></div></section>

<!-- uiView: navigation --><section ui-view="navigation" class="ng-scope"><!-- ngInclude: --><ng-include src="'shared/templates/nav/nav-bar.html'" class="ng-scope"><nav class="top-bar ng-isolate-scope" ng-transclude="" id="nav-top-bar" role="navigation" top-bar="" style="height: 75px;"><div class="row ng-scope" id="nav-top-bar-row">

<ul class="title-area">

<li class="name"><h1 class="name-logo t-alt-sans"><a class="topfocus" title="DAHLIA San Francisco Housing Portal" ui-sref="dahlia.welcome" href="">San Francisco Office of Cannabis</a></h1></li>
<li class="toggle-topbar menu-icon"><button aria-label="Open Menu" class="button-link t-caps open-nav-mobile" ng-click="openNavMobile();focusOnNavMobile()">Menu<span class="ui-icon ui-static ui-large i-primary"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-menu"></use></svg></span></button></li>
</ul><section class="top-bar-section">

<!-- ngInclude: 'shared/templates/nav/_nav_items.html' -->
<ul class="nav-menu right ng-scope" ng-include="'shared/templates/nav/_nav_items.html'">
	<li class="ng-scope"><a ui-sref="dahlia.listings" href="/listings">Home</a></li>
	<li class="ng-scope"><a ui-sref="dahlia.favorites" href="/favorites">Contact Us</a></li>
</ul>
</section></div></nav></ng-include><!-- ngInclude: --><ng-include src="'shared/templates/nav/nav-mobile.html'" class="ng-scope"></ng-include></section><div bs-loading-overlay="" class="loading-overlay">


<!-- uiView: container --><section class="main-content ng-scope" id="main-content" ui-view="container"><div class="dash-container tall ng-scope"><section class="row collapse"><div class="medium-10 medium-centered columns fixed-width"><!-- ngIf: rememberedShortFormState --><form class="dash-card ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-minlength" id="form-wrapper" name="form.signIn" ng-submit="signIn()" novalidate="">

<header class="dash-header">
	<span class="header-badge"><span class="ui-icon ui-static ui-medium i-color"></span></span><h1 class="dash-title t-sans no-margin">Pre-Registration Form</h1></header>

<div class="dash-card-inner inset border-bottom"><div>
<div class="form-group">
<!-- uiView: Business Certificate -->
<div class="row ">
	<div class="form-header no-border">
		<h3 class="dash-title t-gamma t-sans">Information from Business Registration Certificate</h3>
	</div>

	<div class="large-12 columns">
		<h3 class="form-label no-caps ng-binding">Business Account Number<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="xxxxxxx" class="" />
	</div>

	<div class="large-12 columns">
		<h3 class="form-label no-caps ng-binding">Trade Name (DBA)<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-12 columns">
		<h3 class="form-label no-caps ng-binding">Business<span class="c-alert">*</span></h3>
		<div class="t-small p-small c-steel">(name of the parent company or, if no parent company, owner’s last name, first name)</div>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-12 columns">
		<h3 class="form-label no-caps ng-binding">Location ID<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="xxxxxxx-xx-xxx" class="" />
	</div>

	<div class="large-5 columns">
		<h3 class="form-label no-caps ng-binding">Business Location<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="Street Number, Street Name" class="" />
	</div>

	<div class="large-3 columns">
		<h3 class="form-label no-caps ng-binding">City<span class="c-alert">*</span></h3>
		<input type="text" value="San Francisco" name="name" placeholder="" class="" />
	</div>

	<div class="large-2 columns">
		<h3 class="form-label no-caps ng-binding">State<span class="c-alert">*</span></h3>
		<input type="text" value="CA" name="name" placeholder="" class="" />
	</div>

	<div class="large-2 columns">
		<h3 class="form-label no-caps ng-binding">Zip<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-6 columns">
		<h3 class="form-label no-caps ng-binding">Parcel (Block/Lot)<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-6 columns">
		<h3 class="form-label no-caps ng-binding">Zoning Districts<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-6 columns">
		<h3 class="form-label no-caps ng-binding">Contact Email<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="name@email.com" class="" />
	</div>

	<div class="large-6 columns">
		<h3 class="form-label no-caps ng-binding">Phone</h3>
		<input type="text" name="name" placeholder="(555) 555-5555" class="" />
	</div>
</div>

<!-- uiView: About Your Business -->
	<div class="form-header">
		<h3 class="dash-title t-gamma t-sans">About Your Business</h3>
	</div>

<div class="form-business row">
	
	<div class="form-attach row">
		<div class="large-12 columns">
			<h3 class="form-question form-label no-caps ng-binding">Proof of Operation Start Date</h3>
			<div class="form-instruction t-tiny p-tiny c-steel">We need proof of the date you started operating. You can attach a photo of an invoice, transaction history, rent, utility bill or another document we can use to confirm you were in business on the date you gave us. (You can attach a scan or a photo from your smartphone)</div>
		</div>
		<div class="large-4 columns">
			<h3 class="form-label no-caps ng-binding">Start Date</h3>
			<input type="text" name="address" placeholder="mm/dd/yyyy" class="" />
		</div>

		<div class="large-8 columns">
			<h3 class="form-label no-caps ng-binding">Attachment</h3>
			<div class="form-field">
			<span class="label-dollar">Attach .gif, .pdf...</span>
			<input type="file" name="address" placeholder="" class="" multiple/>
			</div>
		</div>
	</div>


	<div class="form-attach row">
		<div class="large-12 columns">
			<h3 class="form-question border-top form-label no-caps ng-binding">Government Issued</h3>
			<div class="form-instruction t-tiny p-tiny c-steel">We need proof of the date you started operating. You can attach a photo of an invoice, transaction history, rent, utility bill or another document we can use to confirm you were in business on the date you gave us. (You can attach a scan or a photo from your smartphone)</div>
		</div>
		<div class="large-4 columns">
			<h3 class="form-label no-caps ng-binding">Issued Department</h3>
			<input type="text" name="address" placeholder="" class="" />
		</div>

		<div class="large-8 columns">
			<h3 class="form-label no-caps ng-binding">Attachment</h3>
			<div class="form-field">
			<span class="label-dollar">Attach .gif, .pdf...</span>
			<input type="file" name="address" placeholder="" class="" multiple/>
			</div>
		</div>
	</div>

	<div class="form-attach row">
		<div class="large-12 columns">
			<h3 class="form-question border-top form-label no-caps ng-binding">Do you own or lease your business premises?</h3>
			<div class="radio-group-inline ">
				<p class="radio-inline">
					<input type="radio" name="income" value="income-month" id="income-month">
					<label class="radio-inline_label" for="income-month">Own</label>
				</p>
				<p class="radio-inline">
					<input type="radio" name="income" value="income-year" id="income-year">
					<label class="radio-inline_label" for="income-year">Lease</label>
				</p>
			</div>
			<div class="form-instruction t-tiny p-tiny c-steel">We need proof of the date you started operating. You can attach a photo of an invoice, transaction history, rent, utility bill or another document we can use to confirm you were in business on the date you gave us. (You can attach a scan or a photo from your smartphone)</div>
		</div>

		<div class="large-12 columns">
			<h3 class="form-label no-caps ng-binding">Attachment</h3>
			<div class="form-field">
			<span class="label-dollar">Attach .gif, .pdf...</span>
			<input type="file" name="address" placeholder="" class="" multiple/>
			</div>
		</div>
	</div>

</div>

<!-- uiView: Permit Type -->
<div class="form-type row">
	<div class="form-header">
		<h3 class="dash-title t-gamma t-sans">Permit Type</h3>
	</div>

	<div class="form-space large-12 columns">
		<h3 class="form-question form-label row ng-binding">In 2018, what permit type(s) do you intend to apply for at this address? Check all that apply:</h3>
<table role="grid">
	<thead>
		<tr>
			<th scope="col">Permit Type</th>
			<th scope="col">Medical Use</th>
			<th scope="col">Adult Use</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td scope="row">
				Cultivation
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="cult-med" id="cult-med" />
					<label for="cult-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="cult-adu" id="cult-adu" />
					<label for="cult-adu"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td scope="row">
				Distribution
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="dist-med" id="dist-med" />
					<label for="dist-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="dist-adu" id="dist-adu" />
					<label for="dist-adu"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td scope="row">
				Manufacturing (level 1) <small><br>Not using solvents, or using only nonvolatile solvents</small>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mfg1-med" id="mfg1-med" />
					<label for="mfg1-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mfg1-adu" id="mfg1-adu" />
					<label for="mfg1-adu"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td scope="row">
				Manufacturing (level 2) <small><br>Using volatile solvents</small>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mfg2-med" id="mfg2-med" />
					<label for="mfg2-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mfg2-adu" id="mfg2-adu" />
					<label for="mfg2-adu"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td scope="row">
				Microbusiness <small><br>Cannabis businesses that cultivate, distribute, manufacture and/or sell cannabis products with a premises of less than 10,000 square feet.</small>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mbiz-med" id="mbiz-med" />
					<label for="mbiz-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mbiz-adu" id="mbiz-adu" />
					<label for="mbiz-adu"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td scope="row">
				Retail (storefront and other sales)
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="ret1-med" id="ret1-med" />
					<label for="ret1-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="ret1-adu" id="ret1-adu" />
					<label for="ret1-adu"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td scope="row">
				Retail (non-storefront)
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="ret2-med" id="ret2-med" />
					<label for="ret2-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="ret2-adu" id="ret2-adu" />
					<label for="ret2-adu"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td scope="row">
				Testing Laboratory
			</td>
			<td colspan="2">
				<div class="checkbox">
					<input type="checkbox" name="tlab" id="tlab" />
					<label for="tlab"></label>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="large-12 columns">
		<h3 class="form-label ng-binding">Do you have another cannabis business premises?</h3>
			<div class="radio-group-inline">
			<p class="radio-inline">
				<input type="radio" name="biz-1" id="biz-1">
				<label for="biz-1">Yes</label>
			</p>
			<p class="radio-inline">
				<input type="radio" name="biz-2" id="biz-2">
				<label for="biz-2">No</label>
			</p>
		</div>
	</div>


</div></div></div></div>


<div class="form-submit">
<div class="button-pager">
		<div class="button-pager_row primary">
			<button class="button primary">Submit</button>
		</div>
		<div class="button-pager_row ">
			<button class="button primary">Save, add another address</button>
		</div>
	</div>
</div>

</form></div></section></div></section></div></div>

<div class="footer-section"><div bs-loading-overlay="" class="loading-overlay">
<!-- uiView: footer --><section ui-view="footer" class="ng-scope"><footer class="bg-tuatara padding-top--2x ng-scope"><div class="row text-center padding-bottom--2x"><div class="medium-12 columns"><img alt="City &amp; County of San Francisco Logo" class="city-logo margin-bottom--2x" src="../cannabis_prototype/images/logo-city.png"></div><div class="medium-8 medium-centered columns"><p class="c-iron"><a class="a-white" href="http://officeofcannabis.sfgov.org">San Francisco Office of Cannabis</a></p><p class="t-small c-iron margin-top--2x">For information, you may email to <a class="a-aluminum" href="mailto:officeofcannabis@sfgov.org">officeofcannabis@sfgov.org</a>.</p></div></div><section class="footer-sock bg-ebony padding-top--2x padding-bottom"><div class="row"><div class="medium-3 large-4 columns small-only-text-center"><span class="c-aluminum">© City &amp; County of San Francisco</span></div><div class="medium-9 large-8 columns small-only-text-center">
<ul class="inline-list">
	<li><a class="a-aluminum" href="https://docs.google.com/forms/d/1M6doffR5XMoXoxyaZgkhAjRpUZMidUVmwCsuCpQTn18/viewform">Give Feedback</a></li>
	<li><a class="a-aluminum" href="mailto:officeofcannabis@sfgov.org">Contact</a></li>
</ul>
</div></div></section></footer></section></div></div>
</body></html>