<html>
<head>
<link rel="stylesheet" href="css/toolkit.css">
<link rel="shortcut icon" type="image/png" href="images/logo-title.jpg">
<script src="https://sf-dahlia-pattern-library.herokuapp.com//assets/toolkit/scripts/toolkit.js"></script>
</head>
<body><button class="button-link skip-link sr-only ng-binding" ng-click="focusOnMainContent()">Skip to main content</button><div class="site-container">

<!-- uiView: version -->
<section ui-view="version" class="ng-scope"><div class="version-bar bar bg-charcoal ng-scope"><div class="row"><div class="medium-12 columns"><p class="text-right t-small c-white no-margin">This site is new. <a target="_blank" class="a-white lined" href="https://docs.google.com/forms/d/e/1FAIpQLSdwgsS1jkPH4dWq-63GDj94ugjhJw79u3xE_kF9e0MkLhMCgw/viewform"><strong>Let us know what you think</strong></a>.</p></div></div></div></section>

<!-- uiView: navigation -->
<section ui-view="navigation" class="ng-scope"><!-- ngInclude: --><ng-include src="'shared/templates/nav/nav-bar.html'" class="ng-scope"><nav class="top-bar ng-isolate-scope" ng-transclude="" id="nav-top-bar" role="navigation" top-bar="" style="height: 75px;"><div class="row ng-scope" id="nav-top-bar-row">
	<ul class="title-area">
		<li class="name">
			<h1 class="name-logo t-alt-sans">
				<a class="topfocus" title="San Francisco Office of Cannabis" ui-sref="dahlia.welcome" href="index.html">San Francisco Office of Cannabis</a>
			</h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<button aria-label="Open Menu" class="button-link t-caps open-nav-mobile" ng-click="openNavMobile();focusOnNavMobile()">Menu
					<span class="ui-icon ui-static ui-large i-primary">
					<svg>
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-menu">#shadow-root (closed)
							<svg id="i-menu" viewBox="0 0 32 32" width="100%" height="100%">
								<title>menu</title>
								<path d="M26.24 14.4h-20.48c-0.883 0-0.96 0.715-0.96 1.6s0.077 1.6 0.96 1.6h20.48c0.883 0 0.96-0.715 0.96-1.6s-0.077-1.6-0.96-1.6zM26.24 20.8h-20.48c-0.883 0-0.96 0.715-0.96 1.6s0.077 1.6 0.96 1.6h20.48c0.883 0 0.96-0.715 0.96-1.6s-0.077-1.6-0.96-1.6zM5.76 11.2h20.48c0.883 0 0.96-0.715 0.96-1.6s-0.077-1.6-0.96-1.6h-20.48c-0.883 0-0.96 0.715-0.96 1.6s0.077 1.6 0.96 1.6z"></path>
							</svg>
							</use>
					</svg>
				</span>
			</button>
		</li>
	</ul>

<section class="top-bar-section">

<!-- ngInclude: 'shared/templates/nav/_nav_items.html' -->
<ul class="nav-menu right ng-scope" ng-include="'shared/templates/nav/_nav_items.html'">
	<li class="ng-scope"><a ui-sref="dahlia.listings" href="index.html">Home</a></li>
	<li class="ng-scope"><a ui-sref="dahlia.listings" href="index.html#registration-details">Register</a></li>
	<li class="ng-scope"><a ui-sref="dahlia.favorites" href="comment.html">Comment</a></li>
</ul>

</section></div></nav></ng-include><!-- ngInclude: --><ng-include src="'shared/templates/nav/nav-mobile.html'" class="ng-scope"></ng-include></section><div bs-loading-overlay="" class="loading-overlay">


<!-- uiView: container -->
<section class="main-content ng-scope" id="main-content" ui-view="container"><div class="dash-container tall ng-scope"><section class="row collapse"><div class="medium-10 medium-centered columns fixed-width"><!-- ngIf: rememberedShortFormState --><form class="dash-card ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-minlength" id="form-wrapper" name="form.signIn" ng-submit="signIn()" novalidate="">

<header class="dash-header">
	<span class="header-badge"><span class="ui-icon ui-static ui-medium i-color"></span></span><h1 class="t-beta t-sans no-caps no-margin">Cannabis business registration</h1>
	<div class="block--short">
		<p class="t-base g-base c-steel text-left">In 2018 San Francisco will accept permit applications for permanent medical and adult use cannabis business. To be eligible to apply for a permanent business permit, you will need to have either a temporary permit to operate or operate an existing Medical Cannabis Dispensary.</p>
		<p class="t-base g-base c-steel text-left">To apply for a temporary permit to operate a cannabis business, you need to register with the Office of Cannabis by October 31, 2017.</p>
	</div>
</header>

<div class="dash-card-inner inset"><div>
<div class="form-group">

<!-- uiView: Business Certificate -->
<div class="large-12 row ">
	<div class="form-header no-border">
		<h3 class="dash-title text-left columns t-gamma t-sans"><strong>From your Business Registration Certificate</strong></h3>
		<p class="t-base g-base margin-bottom--2x no-caps columns text-left c-charcoal">Copy the information below directly from your <a title="San Francisco Business Registration Certificate" target="_blank" href="https://businessportal.sfgov.org/reg-cert">Business Registration Certificate</a>. You must have a business registered before September 15, 2017.</p>
	</div>

	<div class="large-5 columns">
		<h3 class="form-label no-caps ng-binding">Business Account Number<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-7 columns">
		<h3 class="form-label no-caps ng-binding">Trade Name (DBA)<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>
 
	<div class="large-12 columns">
		<h3 class="form-label no-caps no-margin ng-binding">Business<span class="c-alert">*</span></h3>
		<div class="t-small p-small padding-bottom--1x c-steel">Name of the parent company or, if no parent company, owner’s last name, first name.</div>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-12 columns">
		<h3 class="form-label no-caps ng-binding">Location ID (LIN)<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-5 columns">
		<h3 class="form-label no-caps ng-binding">Business location<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-3 columns">
		<h3 class="form-label no-caps ng-binding">City</h3>
		<input type="text" value="San Francisco" name="name" placeholder="" class="" />
	</div>

	<div class="large-2 columns">
		<h3 class="form-label no-caps ng-binding">State</h3>
		<input type="text" value="CA" placeholder="" class="" />
	</div>

	<div class="large-2 columns">
		<h3 class="form-label no-caps ng-binding">Zip<span class="c-alert">*</span></h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-12 columns">
		<h3 class="form-label no-caps no-margin ng-binding">Copy of your Business Registration Certificate<span class="c-alert">*</span></h3>
		<p class="t-small p-small padding-bottom--1x c-steel">Upload a scan or photo from a smartphone.</p>
		<div class="form-field">
			<span class="label-upload"></span>
			<input type="file" name="address" placeholder="" class=""/>
		</div>	
	</div>
</div>

<!-- uiView: About Your Business -->
<div class="form-header">
	<h3 class="dash-title text-left margin-bottom--2x columns t-gamma t-sans"><strong>About Your Business</strong></h3>
</div>

<div class="form-business row">
		<div class="large-12 margin-bottom--1x columns">
			<h3 class="form-label no-caps ng-binding">Contact name<span class="c-alert">*</span></h3>
			<input type="text" name="name" placeholder="" class="" />
		</div>

		<div class="large-8 margin-bottom--1x columns">
			<h3 class="form-label no-caps ng-binding">Email<span class="c-alert">*</span></h3>
			<input type="text" name="name" placeholder="" class="" />
		</div>

		<div class="large-4 margin-bottom--1x columns">
			<h3 class="form-label no-caps ng-binding">Phone</h3>
			<input type="text" name="name" placeholder="" class="" />
		</div>

		<div class="large-12 columns">
			<h3 class="form-question form-label padding-top--2x border-top no-caps ng-binding">When did your cannabis business start operating in this location?</h3>
			<h3 class="form-label no-caps ng-binding">Date your business started operating<span class="c-alert">*</span></h3>
			<input type="text" name="address" placeholder="mm/dd/yyyy" class="" />
		</div>

		<div class="large-12 columns">
			<h3 class="form-label no-caps no-margin ng-binding">Proof of the date your business started operating<span class="c-alert">*</span></h3>
			<p class="t-small p-small padding-bottom--1x c-steel">You can include invoices, transaction history, rent, utility bills and any other documents we can use to confirm you were in business on the date above. Upload scans or photos from a smartphone as .jpeg, .jpg, .png, .pdf, .doc or .docx files.</p>
			<div class="form-field">
			<span class="label-upload"></span>
			<input type="file" name="address" placeholder="" class=""/>
			</div>

		<div class="large-12 columns">
			<h3 class="form-question form-label padding-top--2x border-top no-caps ng-binding">Do you have any permits, licences or registrations for this address? <span class="c-alert">*</span></h3>
			<div class="radio-group-inline ">
				<p class="radio-inline">
					<input type="radio" name="permits" value="permits-yes" id="yes">
					<label class="radio-inline_label" for="yes">No</label>
				</p>
				<p class="radio-inline">
					<input type="radio" name="permits" value="permits-no" id="no">
					<label class="radio-inline_label" for="no">Yes</label>
				</p>
			</div>
			<div class="form-info-card t-small p-small no-margin padding-bottom--2x">If you have permits, licences or registrations for your cannabis business, like your Seller’s Permit, Medical Cannabis Dispensary Program Permit or a Hazardous Materials Permit, it will be faster for us to book your inspections.</div>
		</div>
		<div class="large-12 margin-top--1x columns">
			<h3 class="form-label no-caps ng-binding">Type or name of permit, licence or registration</h3>
			<input type="text" name="address" placeholder="Seller’s permit" class="" />
		</div>

		<div class="large-12 columns">
			<h3 class="form-label no-caps no-margin ng-binding">Copy of the document</h3>
			<p class="t-small p-small padding-bottom--1x c-steel">(Attach scans or photos from a smartphone)</p>
			<div class="form-field">
			<span class="label-upload"></span>
			<input type="file" name="address" placeholder="" class=""/>
			</div>
		</div>


	<div class="large-12 columns margin-bottom--3x">
		<a><span class="t-delta t-delta margin-right">+</span> Add More Documents</a>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h3 class="form-question border-top padding-top--2x form-label no-caps ng-binding">Do you own or lease your business premises? <span class="c-alert">*</span></h3>
			<div class="radio-group-inline ">
				<p class="radio-inline">
					<input type="radio" name="ownership" value="income-month" id="own">
					<label class="radio-inline_label" for="own">Own</label>
				</p>
				<p class="radio-inline">
					<input type="radio" name="ownership" value="income-year" id="lease">
					<label class="radio-inline_label" for="lease">Lease</label>
				</p>
			</div>
			<div class="form-info-card t-tiny p-tiny c-steel"><p><strong>[If own - ]</strong> Attach a copy of the deed. You can attach a scan or a photo from your smartphone.</p></div>
			<div class="form-info-card t-tiny p-tiny c-steel"><p><strong>[If lease - ]</strong> Attach the current lease and notarized letter from your landlord consenting to any cannabis business operations on the premises. You can attach a scan or a photo from your smartphone.</p></div>
		</div>

		<div class="large-12 columns">
			<h3 class="form-label no-caps ng-binding">Attach a copy</h3>
			<div class="form-field">
			<span class="label-upload"></span>
			<input type="file" name="address" placeholder="" class=""/>
			</div>
		</div>
	</div>

</div>

<!-- uiView: About Your Business -->
	<div class="large-12 columns form-header">
		<h3 class="dash-title text-left columns t-gamma t-sans"><strong>Zoning</strong></h3>
		<p class="t-base g-base no-caps columns text-left c-charcoal">Enter your business address on the <a title="San Francisco Property Information Map" target="_blank" href="http://propertymap.sfplanning.org/">San Francisco Property Information Map</a> to find your zoning information.</p>
	</div>

<div class="form-business row">
	<div class="row">
		<div class="large-12 columns">
			<h3 class="form-label padding-top--2x no-caps no-margin ng-binding">Parcel (Block/Lot)<span class="c-alert">*</span></h3>
			<div class="t-tiny p-tiny padding-bottom--1x c-steel">Enter number from the Property tab in Step 2 on <a target="_blank" href="http://propertymap.sfplanning.org/">http://propertymap.sfplanning.org</a></div>	
			<input type="text" name="name" placeholder="" class="" />
		</div>

		<div class="large-12 columns">
			<h3 class="form-label no-caps no-margin ng-binding">Zoning districts<span class="c-alert">*</span></h3>
			<div class="t-tiny p-tiny padding-bottom--1x c-steel">Enter data from the Zoning tab in Step 2 on <a target="_blank" href="http://propertymap.sfplanning.org/">http://propertymap.sfplanning.org</a></div>	
			<textarea name="" id="" cols="30" rows="5"></textarea>
		</div>
	</div>
</div>
<!-- uiView: Permit Type -->
<div class="form-permit form-type row">
	<div class="form-header">
		<h3 class="dash-title text-left columns t-gamma t-sans"><strong>Permit Type</strong></h3>
	</div>

	<div class="large-12 column margin-bottom--2x">
		<h3 class="form-question form-label row ng-binding">What 2018 permanent permit type do you intend to apply for at this address?<br>Check all that apply: <span class="c-alert">*</span></h3>
<table role="grid">
	<thead>
		<tr>
			<th scope="col">Permit Type</th>
			<th scope="col">Medical Use</th>
			<th scope="col">Adult Use</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td scope="row">
				Cultivation
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="cult-med" id="cult-med" />
					<label for="cult-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="cult-adu" id="cult-adu" />
					<label for="cult-adu"></label>
				</div>
			</td>
		</tr>

		<tr>
			<td scope="row">
				Distribution
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="dist-med" id="dist-med" />
					<label for="dist-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="dist-adu" id="dist-adu" />
					<label for="dist-adu"></label>
				</div>
			</td>
		</tr>

		<tr>
			<td scope="row">
				Microbusiness <small><br>Cultivation, manufacturing, distribution and retail at one location</small>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mbiz-med" id="mbiz-med" />
					<label for="mbiz-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mbiz-adu" id="mbiz-adu" />
					<label for="mbiz-adu"></label>
				</div>
			</td>
		</tr>

		<tr>
			<td scope="row">
				Retail (storefront)
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="ret1-med" id="ret1-med" />
					<label for="ret1-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="ret1-adu" id="ret1-adu" />
					<label for="ret1-adu"></label>
				</div>
			</td>
		</tr>

		<tr>
			<td scope="row">
				Retail (non-storefront, delivery only)
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="ret2-med" id="ret2-med" />
					<label for="ret2-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="ret2-adu" id="ret2-adu" />
					<label for="ret2-adu"></label>
				</div>
			</td>
		</tr>

		<tr>
			<td scope="row">
				Manufacturing (level 1) <small><br>The business does not use solvents, or using only nonvolatile solvents</small>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mfg1-med" id="mfg1-med" />
					<label for="mfg1-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mfg1-adu" id="mfg1-adu" />
					<label for="mfg1-adu"></label>
				</div>
			</td>
		</tr>

		<tr>
			<td scope="row">
				Manufacturing (level 2) <small><br>The business uses volatile solvents</small>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mfg2-med" id="mfg2-med" />
					<label for="mfg2-med"></label>
				</div>
			</td>
			<td>
				<div class="checkbox">
					<input type="checkbox" name="mfg2-adu" id="mfg2-adu" />
					<label for="mfg2-adu"></label>
				</div>
			</td>
		</tr>
	
		<tr>
			<td scope="row">
				Testing Laboratory
			</td>
			<td colspan="2">
				<div class="checkbox">
					<input type="checkbox" name="tlab" id="tlab" />
					<label for="tlab"></label>
				</div>
			</td>
		</tr>

	</tbody>
</table>
</div></div>
	
	<div class="checkbox-statement">
		<div class="checkbox columns margin-bottom--2x">
			<input id="fee" type="checkbox" name="fee" />
			<label class="text-left" for="fee">I understand that I will need to pay fees for the temporary permit and inspection. These fees will be due when I apply for my permanent Permit to Operate.</label>
		</div>
	</div>

	<div class="large-12 margin-bottom--2x columns">
		<h3 class="form-label form-question ng-binding">Do you have cannabis businesses at other locations in San Francisco? <span class="c-alert">*</span></h3>
		<div class="radio-group-inline">
		<div class="radio-inline">
			<input type="radio" name="other-location" id="yes-other-location" />
			<label for="yes-other-location">No</label>
		</div>

		<div class="radio-inline">
			<input type="radio" name="other-location" id="no-other-location" />
			<label for="no-other-location">Yes</label>
		</div>
		</div>
	</div>

</div></div>


<div class="form-submit">
	<div class="button-pager">
		<div class="button-pager_row primary">
			<button class="button primary">Submit</button>
		</div>
		<div class="button-pager_row ">
			<button class="button primary">Save, add another address</button>
		</div>
	</div>
</div>

</form>

	<p class="t-small g-small border-top margin-top--2x padding-top--2x margin-bottom--2x t-base g-base c-steel text-left">Under Article 67 of the San Francisco Administrative Code (called the Sunshine Ordinance), all records held by the City and County of San Francisco may become public. This means information you submit may be requested by any member of the public and could be subject to Sunshine Ordinance disclosure requirements.</p>


</div></section></div></section></div></div>

<div class="footer-section"><div bs-loading-overlay="" class="loading-overlay">

<!-- uiView: footer -->
<section ui-view="footer" class="ng-scope">
	<footer class="bg-tuatara padding-top--2x ng-scope">
		<div class="row text-center padding-bottom--2x">
			<div class="medium-12 columns">
				<img alt="City &amp; County of San Francisco Logo" class="city-logo margin-bottom--2x" src="../cannabis_prototype/images/logo-city.png">
			</div>
			<div class="medium-8 medium-centered columns">
				<p class="c-iron"><a class="a-white" href="http://sf-moh.org">San Francisco Office of Cannabis</a><br>
				<span class="t-small c-iron"><a class="c-white" href="mailto:officeofcannabis@sfgov.org">officeofcannabis@sfgov.org</a></span></p>
			</div>
		</div>

		<section class="footer-sock bg-ebony padding-top--2x padding-bottom">
			<div class="row">
				<div class="medium-3 large-4 columns small-only-text-center">
					<span class="c-aluminum">© City &amp; County of San Francisco</span></div><div class="medium-9 large-8 columns small-only-text-center">
					<ul class="inline-list">
						<li><a class="a-aluminum" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdwgsS1jkPH4dWq-63GDj94ugjhJw79u3xE_kF9e0MkLhMCgw/viewform">Give Feedback</a></li>
						<li><a class="a-aluminum" href="disclaimer.html">Disclaimer</a></li>
					</ul>
				</div>
			</div>
		</section>
	</footer>
</section>
</div></div>

</body>
</html>
