<html>
<head>
<link rel="stylesheet" href="css/toolkit.css">
<script src="https://sf-dahlia-pattern-library.herokuapp.com//assets/toolkit/scripts/toolkit.js"></script>
</head>
<body><button class="button-link skip-link sr-only ng-binding" ng-click="focusOnMainContent()">Skip to main content</button><div class="site-container">

<!-- uiView: translate --><section ui-view="translate" class="ng-scope"><div class="translate-bar bar bg-tuatara ng-scope"><div class="row"><div class="medium-12 columns"><ul class="inline-list no-margin t-small right"><li class="c-iron show-for-medium-up">Select Language</li><li><a class="c-white" ui-sref="dahlia.welcome-spanish" href="/welcome-spanish">Español</a></li><li><a class="c-white t-ch" ui-sref="dahlia.welcome-chinese" href="/welcome-chinese">中文<span class="sr-only">Chinese</span></a></li><li><a class="c-white" ui-sref="dahlia.welcome-filipino" href="/welcome-filipino">Filipino</a></li></ul></div></div></div></section>

<!-- uiView: version --><section ui-view="version" class="ng-scope"><div class="version-bar bar bg-steel ng-scope"><div class="row"><div class="medium-12 columns"><p class="text-right t-small c-white no-margin">This site is in <strong class="t-caps">beta</strong>. We're offering even more! We'd love to get <a target="_blank" class="a-white lined" href="https://docs.google.com/forms/d/e/1FAIpQLSfJQL6ewvzETV7ZkWot94CaVlI7XlGPbhny4w6mPmDqZS995Q/viewform">your feedback</a>.</p></div></div></div></section>

<!-- uiView: navigation --><section ui-view="navigation" class="ng-scope"><!-- ngInclude: --><ng-include src="'shared/templates/nav/nav-bar.html'" class="ng-scope"><nav class="top-bar ng-isolate-scope" ng-transclude="" id="nav-top-bar" role="navigation" top-bar="" style="height: 75px;"><div class="row ng-scope" id="nav-top-bar-row">

<ul class="title-area">

<li class="name"><h1 class="name-logo t-alt-sans"><a class="topfocus" title="DAHLIA San Francisco Housing Portal" ui-sref="dahlia.welcome" href="">San Francisco Office of Cannabis</a></h1></li>
<li class="toggle-topbar menu-icon"><button aria-label="Open Menu" class="button-link t-caps open-nav-mobile" ng-click="openNavMobile();focusOnNavMobile()">Menu<span class="ui-icon ui-static ui-large i-primary"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-menu"></use></svg></span></button></li>
</ul><section class="top-bar-section">

<!-- ngInclude: 'shared/templates/nav/_nav_items.html' -->
<ul class="nav-menu right ng-scope" ng-include="'shared/templates/nav/_nav_items.html'">
	<li class="ng-scope"><a ui-sref="dahlia.listings" href="/listings">Home</a></li>
	<li class="ng-scope"><a ui-sref="dahlia.favorites" href="/favorites">Contact Us</a></li>
</ul>
</section></div></nav></ng-include><!-- ngInclude: --><ng-include src="'shared/templates/nav/nav-mobile.html'" class="ng-scope"></ng-include></section><div bs-loading-overlay="" class="loading-overlay">


<!-- uiView: container --><section class="main-content ng-scope" id="main-content" ui-view="container"><div class="dash-container tall ng-scope"><section class="row collapse"><div class="medium-10 medium-centered columns fixed-width"><!-- ngIf: rememberedShortFormState --><form class="dash-card ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-minlength" id="form-wrapper" name="form.signIn" ng-submit="signIn()" novalidate="">

<header class="dash-header">
	<span class="header-badge"><span class="ui-icon ui-static ui-medium i-color"></span></span><h1 class="dash-title t-sans no-margin">Pre-Registration Form</h1></header>

<div class="dash-card-inner inset border-bottom"><div>
<div class="form-group">
<div class="form-address row ">
	<div class="large-6 columns">
		<h3 class="form-label caps ng-binding">Business Account Number</h3>
		<input type="text" name="name" placeholder="xxxxxxx" class="" />
	</div>

	<div class="large-6 columns">
		<h3 class="form-label caps ng-binding">Location ID</h3>
		<input type="text" name="name" placeholder="xxxxxxx-xx-xxx" class="" />
	</div>

	<div class="large-6 columns">
		<h3 class="form-label caps ng-binding">Trade Name (DBA)</h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-6 columns">
		<h3 class="form-label caps ng-binding">Business Location</h3>
		<input type="text" name="name" placeholder="Street Number, Street Name" class="" />
	</div>

	<div class="large-5 columns">
		<h3 class="form-label caps ng-binding">Business</h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="small-3 columns">
		<h3 class="form-label caps ng-binding">City</h3>
		<input type="text" value="San Francisco" name="name" placeholder="" class="" />
	</div>

	<div class="small-2 columns">
		<h3 class="form-label caps ng-binding">State</h3>
		<input type="text" value="CA" name="name" placeholder="" class="" />
	</div>

	<div class="small-2 columns">
		<h3 class="form-label caps ng-binding">Zip</h3>
		<input type="text" name="name" placeholder="" class="" />
	</div>

	<div class="large-6 columns">
		<h3 class="form-label caps ng-binding">Contact Email</h3>
		<input type="text" name="name" placeholder="name@email.com" class="" />
	</div>

	<div class="large-6 columns">
		<h3 class="form-label caps ng-binding">Phone</h3>
		<input type="text" name="name" placeholder="(555) 555-5555" class="" />
	</div>

</div>


<div class="form-business row">
	<div class="form-header">
		<h3 class="dash-title t-gamma t-sans">About Your Business</h3>
	</div>

	<div class="large-4 columns">
		<h3 class="form-label caps ng-binding">Operation Start Date</h3>
		<input type="text" name="address" placeholder="mm/dd/yyyy" class="" />
	</div>

	<div class="large-8 columns">
		<h3 class="form-label caps ng-binding">Attachment</h3>
		<div class="form-field">
		<span class="label-dollar">Attach .gif, .pdf...</span>
		<input type="file" name="address" placeholder="" class="" /></div>
	</div>

	<div class="large-12 columns form-space">
		<div class="t-small p-small c-steel">We need proof of the date you started trading. You can attach a photo of an invoice, transaction history, rent, utility bill or another document we can use to confirm you were in business on the date you gave us. (You can attach a scan or a photo from your smartphone)</div>
	</div>

	<div class="large-4 columns">
		<h3 class="form-label caps ng-binding">Business premises ownership?</h3>
		<div class="radio-group-inline ">
			<p class="radio-inline">
				<input type="radio" name="income" value="income-month" id="income-month">
				<label class="radio-inline_label" for="income-month">Own</label>
			</p>
			<p class="radio-inline">
				<input type="radio" name="income" value="income-year" id="income-year">
				<label class="radio-inline_label" for="income-year">Lease</label>
			</p>
		</div>
	</div>

	

	<div class="large-8 columns">
		<h3 class="form-label caps ng-binding">Attachment</h3>
		<div class="form-field">
		<span class="label-dollar">Attach .gif, .pdf...</span>
		<input type="file" name="address" placeholder="" class="" /></div>
	</div>

	<div class="large-12 columns form-space">
		<div class="t-small p-small c-steel">You need to attach a notarized letter from your landlord consenting to any cannabis business operations on the premises. (You can attach a scan or a photo from your smartphone)</div>
	</div>









	<div class="large-12 columns">
		<h3 class="form-label caps ng-binding">Zoning</h3>
		<div class="form-text t-small p-small c-steel">What zoning use district is your business in? Find out at: <a href="http://sf-planning.org/find-my-zoning">http://sf-planning.org/find-my-zoning</a></div>
		<input type="text" name="address" placeholder="District #" class="" />
	</div>
	

</div>
</div></div></div>

<footer class="dash-header"><div class="form-group"><p class="t-small c-steel text-center padding-top no-margin"><input class="button no-margin primary" data-event="gtm-sign-in" id="sign-in" ng-disabled="submitDisabled" type="submit" value="submit"></p></div></footer>

</form></div></section></div></section></div></div>

<div class="footer-section"><div bs-loading-overlay="" class="loading-overlay">
<!-- uiView: footer --><section ui-view="footer" class="ng-scope"><footer class="bg-tuatara padding-top--2x ng-scope"><div class="row text-center padding-bottom--2x"><div class="medium-12 columns"><img alt="City &amp; County of San Francisco Logo" class="city-logo margin-bottom--2x" src="../cannabis_prototype/images/logo-city.png"></div><div class="medium-8 medium-centered columns"><p class="c-iron"><a class="a-white" href="http://officeofcannabis.sfgov.org">San Francisco Office of Cannabis</a></p><p class="t-small c-iron margin-top--2x">For information, you may email to <a class="a-aluminum" href="mailto:officeofcannabis@sfgov.org">officeofcannabis@sfgov.org</a>.</p></div></div><section class="footer-sock bg-ebony padding-top--2x padding-bottom"><div class="row"><div class="medium-3 large-4 columns small-only-text-center"><span class="c-aluminum">© City &amp; County of San Francisco</span></div><div class="medium-9 large-8 columns small-only-text-center">
<ul class="inline-list">
	<li><a class="a-aluminum" href="https://docs.google.com/forms/d/1M6doffR5XMoXoxyaZgkhAjRpUZMidUVmwCsuCpQTn18/viewform">Give Feedback</a></li>
	<li><a class="a-aluminum" href="mailto:officeofcannabis@sfgov.org">Contact</a></li>
</ul>
</div></div></section></footer></section></div></div>
</body></html>